In [1]:
print ("hi dear")

hi dear

In [2]:
print ("i love india")

i love india

In [3]:
print ("I Will Complete")

I Will Complete

In [4]:
print ("hi")

hi

In [5]:
num1=10
num2=30
add=num1+num2
print ("add")
print (add)

add
40

In [6]:
num1=10
num2=50
add=num1+num2
print ("add")
print (add)

add
60

In [7]:
num1=10
num2=150
add=num1+num2
print ("add")
print (add)

add
160

In [8]:
num1=10
num2=150
add=num1+num2
sub=num1-num2
print ("add sub")
print (add)
print (sub)

add sub
160
-140

In [9]:
num1=10
num2=20
add=num1+num2
print("add")
print(add)

add
30

In [10]:
print("the addition of two numbers")
num1=10
print("the number1:",num1)
num2=40
print("the number2:",num2)
print("the answer", num1+num2)

the addition of two numbers
the number1: 10
the number2: 40
the answer 50

In [12]:
print("the addition of two numbers")
num1=100                 
num2=40
print("the number2:",num2)
print("the answer", num1+num2)

the addition of two numbers
the number2: 40
the answer 140

In [13]:
print("the ADDITION OF TWO NUMBERS")
num1=20
num2=10
add=num1+num2
print("the answer:",add)

the ADDITION OF TWO NUMBERS
the answer: 30

In [14]:
print("MY FAMILY")
print("my son madhubalan")

MY FAMILY
my son madhubalan

In [1]:
num1=int(input("Enter the num1:"))

Enter the num1:30

In [2]:
num2=int(input("Enter the num2:"))

Enter the num2:472

In [4]:
add=num1+num2

In [5]:
print(add)

502

In [7]:
num=int(input("Enter the name"))

Enter the name3Ramarajan

ValueError: invalid literal for int() with base 10: '3Ramarajan'